# Plantilla de Configuración de Entorno (Copiar como .env)
# Configura la Dirección URL de REST de tu Pipeline Endpoint en Azure ML Studio:
AZURE_ML_ENDPOINT_URL=https://<TU-REGION>.api.azureml.ms/pipelines/v1.0/subscriptions/<TU-SUBSCRIPTION-ID>/resourceGroups/<TU-RESOURCE-GROUP>/providers/Microsoft.MachineLearningServices/workspaces/<TU-WORKSPACE>/PipelineRuns/PipelineEndpointSubmit/Id/<TU-PIPELINE-ENDPOINT-ID>
